
#mx2m2p {
  padding: 10px;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

/* override vector.css */
body div#content {
  margin-left: 0;
}


#footer {
  margin-top: 10px;
}

noinclude {
  displaY: none;
}