body {
	max-width: 800px;
	margin: 0 auto 0 auto;
	text-align: justify;
}


#mx2m2p {
  padding: 10px;
  font-family: sans-serif;
}

h1,h2,h3,h4,h5 {
	text-shadow: 1px 1px 2px rgba(100, 100, 100, 0.2);
	border-bottom: 1px solid #EEE;
}

input#jumpTo:before {
	content: 'Search';
}

input#jumpTo {
	border: 1px solid black;
	box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.2);
}

/* override vector.css */
div#content {
  margin-left: 0;
}

a {
	text-decoration: none;
	color: #0BF;
}

a:hover {
	color: blue;
}

a.external {
	color: green;
	padding: 0;
}

div.frontpage_news strong:before {
	display: block;
	content: ' ';
}

#footer {
  margin-top: 10px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  text-align: right;
  padding: 4px;
  background-color: #EEE;
  border-top-left-radius: 5px;
  font-size: 9pt;
}

noinclude {
  display: none;
}
